<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" th:action="@{/ex03/calc}" method="post">
        商品1：<input type="text" name="itemPrice1"><br>
        商品2：<input type="text" name="itemPrice2"><br>
        商品3：<input type="text" name="itemPrice3"><br>
        <button>購入</button><br>
    </form>
    
</body>
</html>